@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Very-Light-Gray: #f5f6fa;
  --Light-Gray: #e9ebf0;
  --Grayish-Blue: #67727e;
  --Light-Grayish-Blue: #c5c6ef;
  --Moderate-Blue: #5357b6;
  --Dark-Blue: #334253;
  --Soft-Red: #ed6368;
}

/*====================
        Resets
======================*/

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
p,
h1,
h2,
h3,
h4,
h5,
figure,
picture,
ul {
  margin: 0;
}

/* Set up the body */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Make images and pictures easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  pointer-events: all;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: var(--Very-Light-Gray) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 1000px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Grayish-Blue);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 768px) {
  main {
    padding: 3rem;
  }
}

header {
  padding-block: 1rem;
}
