/* Comment Card */

.comments-container {
  display: grid;
  gap: 1rem;
}

.comment-children {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 2.5rem;
  padding-left: 2.5rem;
  border-left: 1px solid var(--Light-Gray);
}

.comment-children:not(:has(div.comment-children)) {
  animation: ShowChildren 300ms;
}

@keyframes ShowChildren {
  0% {
    transform: translateY(-70%);
    z-index: -1;
  }
  100% {
    transform: translateY(0);
    z-index: 0;
  }
}

.comment-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 32px 1fr;
  grid-template-rows: repeat(3, fit-content);
  grid-template-areas:
    "header header"
    "content content"
    "vote reply";
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}

.comment-card__header {
  grid-area: header;
  display: flex;
  gap: 1rem;
}

.comment-card__header__avatar {
  aspect-ratio: 1;
  border-radius: 50%;
}

.comment-card__header__user {
  display: flex;
  gap: 0.5rem;
  color: var(--Dark-Blue);
  font-weight: 500;
  font-size: 1rem;
}

.comment-card__header__user__you {
  display: grid;
  align-content: center;
  padding: 2px 0.5rem;
  border-radius: 2px;
  color: white;
  font-size: 0.8125rem;
  font-weight: 500;
  background-color: var(--Moderate-Blue);
}

.comment-card__header__date {
  font-weight: 400;
  color: var(--Grayish-Blue);
}

.comment-card__content {
  grid-area: content;
}

.comment-card__vote {
  grid-area: vote;
}

.comment-card__reply {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
  justify-self: end;
  text-align: right;
  font-weight: 500;
  color: var(--Moderate-Blue);
  transition: opacity 250ms;
  z-index: 100;
}

.comment-card__reply:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .comments-container {
    gap: 1.25rem;
  }

  .comment-card {
    padding: 1.5rem;
    grid-template-columns: 40px 1fr 100px;
    column-gap: 1.5rem;
    row-gap: 1rem;
    grid-template-areas:
      "vote header reply"
      "vote content content";
  }
}

.back-btn {
  background-color: var(--Moderate-Blue);
  padding: 0.5rem;
  width: fit-content;
  border-radius: 50%;
  aspect-ratio: 1;
  color: white;
}

.back-btn > svg {
  width: 2rem;
  height: 2rem;
}

/* Comment Input */
.comment-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "input input"
    "avatar btn";
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  background-color: white;
  align-items: center;
}

.comment-card-container .comment-input {
  margin-top: 0.5rem;
  animation: ShowInput 300ms;
}

@keyframes ShowInput {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.comment-input > .textarea-container {
  border-radius: 8px;
  width: 100%;
  grid-area: input;
}

.textarea-container > textarea {
  border: 1px solid var(--Light-Gray, #e9ebf0);
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  height: 96px;
  width: 100%;
  grid-area: input;
  resize: none;
}

.comment-input > button {
  grid-area: btn;
  width: fit-content;
  border-radius: 8px;
  justify-self: end;
  padding: 0.75rem 2rem;
  background-color: var(--Moderate-Blue);
  color: white;
}

.comment-input > img {
  grid-area: avatar;
}

/* Components */

.updown-vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--Very-Light-Gray);
  width: 100px;
  height: 40px;
  padding: 1rem;
  border-radius: 10px;
  gap: 0;
}

.updown-vote > button {
  padding: 0;
  margin: 0;
  color: var(--Light-Grayish-Blue);
  transition: color 200ms;
  font-size: 1.2rem;
}

.updown-vote > button:hover {
  color: var(--Moderate-Blue, #5357b6);
}

.updown-vote > button:active,
.updown-vote > button:focus {
  outline: 0;
}

.updown-vote > p {
  font-weight: 500;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .updown-vote {
    flex-direction: column;
    width: 40px;
    height: 100px;
    padding: 0.75rem 0;
  }
}
